    h1 {
      font-size: 4rem;
      font-family: 'Pacifico', sans-serif;
    }

    p {
      font-size: 1.2rem;
      max-width: 50%;
      font-family: 'Roboto', sans-serif;
    }

    body {
      margin: 0;
      color: white;
      background: #202731;
      overflow-x: hidden;
    }

    section {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 400px;
      padding-top: 100px;
    }

    .first {
      background: #41C2F5;
    }

    .second {
      background: #5584ac;
    }

    .third {
      background: #22577E;
      overflow: hidden;
    }

    /* Curved bg with SVG via https://www.shapedivider.app/ */
    .multi-wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .multi-wave svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 205px;
    }

    .multi-wave .shape-fill {
        fill: #41C2F5;
    }


    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .wave svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 238px;
    }

    .wave .shape-fill {
        fill: #5584AC;
    }


    /* Blobs SVG background image via https://haikei.app/ */

    .blob-motion {
      position: absolute;
      transform: translateY(-20%) translateX(-50%);
      z-index: 0;
    }

    .blob-content {
      z-index: 1;
      transform: translateX(40%);
    }

    .blobs {
      width: 50%;
      background: url('./blobs.svg') no-repeat bottom / cover;
    }

    /* Links */
    a:link, a:visited {
      background-color: white;
      color: black;
      border: 2px solid #5584ac;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Roboto', sans-serif;
    }

    a:hover, a:active {
      background-color: #5584ac;
      color: white;
    }

    ul {
      list-style-type: none;
      text-align: center;
      margin: 10px;
    }
